<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>cnextpro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>const_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>const_test_c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>cprogram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cs106_lec3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>fetch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>findSum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>findSumOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>merge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>permutation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>robot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>search.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>searchArr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>searchMatrix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>stringcontain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>swapC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>test_set.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>testapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>wordcontain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>513AC2661D58C1E1006DE13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513AC2741D58C582006DE13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513AC2921D5B5DFA006DE13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513AC29D1D5B642D006DE13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513AC2A81D5C0CEA006DE13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513AC2B31D5C2140006DE13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513AC2BE1D5C428B006DE13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513AC2C91D5C4C9E006DE13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDB7A1D5CAE0600451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDB851D5D27A300451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDC0E1D61108A00451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDC191D6264B700451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDC241D62727A00451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDC2F1D63B77600451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDC3A1D63B9A800451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDC451D683E0600451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDC501D68D9E600451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDC5B1D68E0AD00451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDC661D69723600451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EEDCD61D6D043F00451835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
